return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
#include <unistd.h>
#include <stdint.h>

typedef struct _reduce_${op}_${qtype}_args {
  ${reduce_ctype} cum_val;
  } REDUCE_${op}_${qtype}_ARGS;
  
${includes}
extern int
${fn}(  
      const ${ctype} * restrict in,  
      uint64_t nR,
      void *ptr_args,
      uint32_t num_threads
      ) 
;

   ]],
   definition = [[

#include "_${fn}.h"

int
${fn}(  
      const ${ctype} * restrict in,
      uint64_t nR,  
      void *in_ptr_args,
      uint32_t num_threads
      )

{
  int status = 0;
  ${ctype} inv; 
  REDUCE_${op}_${qtype}_ARGS *ptr_args;
  ptr_args = (REDUCE_${op}_${qtype}_ARGS *)in_ptr_args;

  ${reduce_ctype} curr_val = ptr_args->cum_val;
  if ( num_threads == 0 ) { num_threads = sysconf(_SC_NPROCESSORS_ONLN); }

  uint64_t block_size = nR / num_threads;
#pragma omp parallel for schedule(static)
  for ( uint32_t t = 0; t < num_threads; t++ ) { 
    uint64_t lb = t * block_size;
    uint64_t ub = lb + block_size;
    if ( t == (num_threads-1) ) { ub = nR; }
    ${reduce_ctype} lval = ${init_val};
    for ( uint64_t i  = lb; i < ub; i++ ) {  
      inv = in[i];
      lval = ${reducer}(lval, inv);
    }
#pragma omp critical (_${fn})
    {
    curr_val = ${t_reducer}(curr_val, lval);
    }
  } 
  ptr_args->cum_val = curr_val;
  return status;
}
   ]]
}
