return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
${includes}
extern int
${fn}(  
      const ${in1_ctype} * restrict val_fld,  
      uint64_t nR_in,
      const ${in2_ctype} * restrict grpby_fld,  
      uint64_t nR_out,
      ${out_ctype} * restrict out
      ) 
;

   ]],
   definition = [[

#include "_${fn}.h"

int
${fn}(  
      const ${val_ctype} * restrict val_fld,  
      uint64_t nR_in,
      const ${grpby_ctype} * restrict grpby_fld,  
      uint64_t nR_out,
      ${out_ctype} * restrict out,
      bool is_safe
      )

{ 
  int status = 0;
  for ( uint64_t i = 0; i < nR_in; i++ ) { 
    ${val_ctype} val = val_fld[i];
    ${grpby_cytpe} grpby = grpby_fld[i];
    if ( is_safe ) {  // TODO P3 Will this if be branch predicted properly?
      if ( ( grpby < 0 ) || ( grpby > nR_out ) ) { go_BYE(-1); }
    }
    out[grpby] += val;
  } 
BYE:
  return status;
}
   ]]
}
