

int
in(
  int32_t *a,
  uint64_t nA,
  int32_t *b,
  uint16_t nB
  )
  {

  for ( int i = 0; i < nA; i++ ) { 
    int rslt = 0;
    for ( int j = 0; j < nB; j++ ) { 
      rslt += (A[i] == B[j])
    }
    // set bit 

  }

