return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
#include <stdint.h>

extern int
${fn}(
      const ${a_ctype} * restrict A,
      uint64_t nA,
      ${a_ctype} value,
      uint64_t *idx,
      uint64_t chunk_idx
      );
   ]],
   definition = [[

#include "_${fn}.h"

int
${fn}(
      const ${a_ctype} * restrict A,
      uint64_t nA,
      ${a_ctype} value,
      uint64_t *idx,
      uint64_t chunk_idx
      )
{
  int status = 0;
  if ( A == NULL ) { go_BYE(-1); }
  if ( nA == 0 ) { go_BYE(-1); }
  if ( idx == NULL ) { go_BYE(-1); }
  *idx = -1;
  ${a_ctype} inv;
  for ( uint64_t i  = 0; i < nA; i++ ) {  
    inv = A[i];
    if (inv == value){
      *idx = i + chunk_idx;
      break;
    }
  }
BYE:
  return status;
}
   ]]
}
