return function (
  in_qtype,
  scalar
  )
  local qconsts       = require "Q/UTILS/lua/q_consts"
  local qc            = require "Q/UTILS/lua/q_core"
  local is_base_qtype = require 'Q/UTILS/lua/is_base_qtype'
  local Scalar        = require 'libsclr'

  assert(is_base_qtype(in_qtype))
  local tmpl = qconsts.q_src_root .. "/OPERATORS/F1S1OPF2/lua/arith.tmpl"
  local subs = {}; 
  subs.fn = "<<operator>>_" .. in_qtype .. "_" .. in_qtype
  subs.in_ctype = qconsts.qtypes[in_qtype].ctype
  subs.c_code_for_operator = "<<c_code>>;"
  subs.args        = scalar:to_cmem()
  subs.args_ctype  = subs.in_ctype
  subs.in_qtype = in_qtype
  subs.out_qtype    = in_qtype
  subs.out_ctype    = qconsts.qtypes[subs.out_qtype].ctype
  subs.scalar_ctype = subs.out_ctype 
  return subs, tmpl
end
