return function (
  in_qtype,
  scalar
  )
    local qconsts = require 'Q/UTILS/lua/q_consts'
    local is_base_qtype = require 'Q/UTILS/lua/is_base_qtype'
    local conv_lnum_to_cnum = require 'Q/UTILS/lua/conv_lnum_to_cnum'

    local scalar_val = nil
    if ( type(scalar) == "number" ) then 
      scalar_val = scalar
    elseif type(scalar) == "table" then 
      scalar_val = assert(scalar.value)
    elseif type(scalar) == "Scalar" then 
      -- all is well 
    else
      assert(nil, "no valid scalar provided")
    end

    assert(is_base_qtype(in_qtype))

    local tmpl = 'f1s1opf2_cmp.tmpl'
    local subs = {}; 
    subs.fn = "<<operator>>_" .. in_qtype 
    subs.in_ctype = qconsts.qtypes[in_qtype].ctype
    subs.out_qtype = "B1"
    subs.comparison = ' <<comparison>>  '
    -- local ffi     = require 'Q/UTILS/lua/q_ffi'
    -- subs.c_mem = ffi.new(subs.in_ctype .. "[?]", 1, { scalar} )
    if ( type(scalar) == "Scalar" ) then 
      subs.c_mem = scalar:cdata()
    else
      subs.c_mem = conv_lnum_to_cnum(scalar_val, in_qtype)
    end
    return subs, tmpl
end
