return function (
  in_qtype,
  scalar
  )
    local qconsts = require 'Q/UTILS/lua/q_consts'
    local is_base_qtype = require 'Q/UTILS/lua/is_base_qtype'
    local conv_lnum_to_cnum = require 'Q/UTILS/lua/conv_lnum_to_cnum'
    local Scalar = require 'libsclr'

    local scalar_val = nil
    if ( ( type(scalar) == "number" ) or ( type(scalar) == "string" ) ) then
      scalar = assert(Scalar.new(scalar, in_qtype))
    elseif type(scalar) == "Scalar" then 
      scalar = assert(scalar:conv(in_qtype))
    else
      assert(nil, "no valid scalar provided")
    end

    assert(is_base_qtype(in_qtype))

    local tmpl = 'f1s1opf2_cmp.tmpl'
    local subs = {}; 
    subs.fn = "<<operator>>_" .. in_qtype 
    subs.in_ctype = qconsts.qtypes[in_qtype].ctype
    subs.out_qtype = "B1"
    subs.comparison = ' <<comparison>>  '
    -- local ffi     = require 'Q/UTILS/lua/q_ffi'
    -- subs.c_mem = ffi.new(subs.in_ctype .. "[?]", 1, { scalar} )
    subs.c_mem = scalar:cdata()
    return subs, tmpl
end
