return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
#include "_set_bit_u64.h"
#include <unistd.h>
#include <stdint.h>
#include <math.h>

extern int
${fn}(  
      const ${in_ctype} * const restrict in,  
      uint64_t *nn_in,
      uint64_t nR,
      void *dummy,
      uint64_t * out,
      uint64_t *nn_out
      ) 
;

   ]],
   definition = [[

#include "_${fn}.h"

int
${fn}(  
      const ${in_ctype} * const restrict in,  
      uint64_t *nn_in,
      uint64_t nR,  
      void *dummy,
      uint64_t * out,
      uint64_t *nn_out
      )

{
  int status = 0;
  if ( in == NULL ) { go_BYE(-1); }
  if ( nR == 0 ) { go_BYE(-1); }

// TODO #pragma omp parallel for 
  for ( uint64_t i = 0; i < nR; i++ ) { 
    status = set_bit_u64(out, i, in[i]);
    if ( status < 0 ) { continue; }
  } 
BYE:
    if ( status < 0 ) { WHEREAMI; }
  return status;
}
   ]]
}
