return function (
  in_qtype
  )
  local tmpl = 'f1opf2.tmpl'
  local subs = {}; 
  subs.fn = "<<operator>>" .. in_qtype 
  subs.in_ctype = g_qtypes[in_qtype].ctype
  subs.c_code_for_operator = "<<c_code_for_operator>>"
  subs.out_qtype = <<out_qtype>>
  subs.out_ctype = g_qtypes[subs.out_qtype].ctype
  return subs, tmpl
end
