return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_types.h"
#include "q_macros.h"
#include <unistd.h>
#include <stdint.h>
#include <math.h>

extern int
${fn}(  
      const ${in_ctype} * restrict f1,  
      uint64_t nR,
      void *dummy,
      ${out_ctype} * out
      ) 
;

   ]],
   definition = [[

#include "_${fn}.h"

static void __operation(
  ${in_ctype} a,
  ${out_ctype} *ptr_c
  )
{
  ${in_ctype} c;
  ${c_code_for_operator}  
  *ptr_c = c;
}

int
${fn}(  
      const ${in_ctype} * restrict f1,
      uint64_t nR,  
      void *dummy,
      ${out_ctype} * out
      )

{
  int status = 0;

#pragma omp parallel for 
  for ( uint64_t i = 0; i < nR; i++ ) { 
    ${in_ctype} inv; 
    ${out_ctype} outv; 
    inv = f1[i];
    __operation(inv, &outv);
    out[i] = outv;
  } 
  return status;
}
   ]]
}
