return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
#include "_set_bit_u64.h"

extern int
${fn}(  
      const ${in_ctype} * restrict in,
      uint64_t *nn_in, 
      uint64_t nR,
      void *dummy,
      ${out_ctype} * out,
      uint64_t *nn_out
      ) 
;

   ]],
   definition = [[

#include "_${fn}.h"

int
${fn}(  
      const ${in_ctype} * restrict in,
      uint64_t *nn_in,
      uint64_t nR,  
      void *dummy,
      ${out_ctype} * out,
      uint64_t *nn_out
      )

{
  int status = 0;
  if ( in == NULL ) { go_BYE(-1); }
  if ( out == NULL ) { go_BYE(-1); }
  if ( nR == 0 ) { go_BYE(-1); }
  if ( nn_out == NULL ) { go_BYE(-1); }
  unsigned int sz1 = sizeof(${in_ctype}), sz2 = sizeof(${out_ctype});

#pragma omp parallel for schedule(static)
  for ( uint64_t i = 0; i < nR; i++ ) {
    unsigned int nn_out_i = 1;
    out[i] = in[i];
    if ( ( sz1 > sz2 ) && 
      ( ( in[1] < ${min_val} ) || ( in[1] > ${max_val} ) ) ) {
        out[i] = 0;
        nn_out_i = 0;
    }
    if ( nn_out_i ) {
      set_bit_u64(nn_out, i, 1);
    }
  }
  BYE:
  return status;
}
   ]]
}
